
{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="container mt-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                </ol>
            </nav>
            <div class="">
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3" style="margin-left: 230px;">
                        <div class="col-8">
                            {% include "messages.html" %}
                            <input name="old_password" type="password" class="form-control bg-light border-0" placeholder="Old Password" style="height: 55px;">
                        </div>
                        <div class="col-8">
                            <input name="new_password" type="password" class="form-control bg-light border-0" placeholder="New Password" style="height: 55px;">
                        </div>
                        <div class="col-8">
                            <input name="confirm_password" type="password" class="form-control bg-light border-0" placeholder="Confirm Password" style="height: 55px;">
                        </div>
                
                        <div class="col-8">
                            <button class="btn btn-primary w-100 py-3 mb-5" type="submit">Change Password</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        
        
    {% endblock  %}