{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="text-center  mt-4 mb-5" >
        <h1 class="display-5">Room Details</h1>
        <hr class="w-25 mx-auto text-primary" style="opacity: 1;">
    </div>
    <div class="row mt-4 mb-4">
        {% for room in rooms %}
            <div class="col-md-3">
                <div class="custom-box text-center">
                    <h2>{{ room.room_no }}</h2>
                    <h2>{{ room.user.username }}</h2>
                
                    {% comment %} <a href="" class="read-more-link">Read More</a> {% endcomment %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock  %}