{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row mt-4 mb-4">
        <h2 class="bg-white text-center ">Rooms</h2>
        {% for rooms in room %}
            <div class="col-md-2">
                <div class="custom-box text-center bg-primary p-2 mt-2 mb-2">
                    <h2>{{rooms.room.room_no}}</h2>
                    <h2>{{rooms.user.username|capfirst}}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}