{% extends "base.html" %}
{% load static %}

{% block content %}
    
        <div class="container mt-4 ">
            <h1>Rules and Regulations</h1>

            <h2>General Guidelines</h2>
            <ul>
                <li>Respect others.</li>
                <li>Follow the code of conduct.</li>
                <li>Adhere to ethical standards.</li>
            </ul>
        
            <h2>Usage Policies</h2>
            <ul>
                <li>Do not misuse the system.</li>
                <li>Respect intellectual property rights.</li>
                <li>Comply with relevant laws and regulations.</li>
            </ul>
        
            <h2>Community Engagement</h2>
            <ul>
                <li>Be courteous in discussions.</li>
                <li>Avoid offensive language.</li>
                <li>Encourage a positive environment.</li>
            </ul>
        
            <p>By using this platform, you agree to abide by these rules and regulations. Failure to comply may result in consequences, including account suspension or termination.</p>
        
        </div>
   
    {% endblock  %}
   
